@import "../../../scss/var.scss";

.custom-button {
  border-radius: 100px;
  background: $primary-gradient;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &.small {
    @include set-pair-vw(padding, 5px, 43px);
    @include Body1;
  }

  &.large {
    width: 100%;
    height: 60px;
    @include Heading1;
  }
}
