@import "../../../scss/var.scss";

.custom-picker-border {
  position: relative;
  overflow: hidden;

  @include set-vw(padding, 2.3px);
  @include set-vw(border-radius, 12px);
  @include set-vw(height, 64px);

  &::before {
    content: ""; /* 가상 요소에 내용을 추가 */
    position: absolute; /* 절대 위치 지정 */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $primary-gradient;
    opacity: 0; /* 처음에는 투명하게 설정 */
    transition: opacity 0.2s; /* 투명도에 대한 전환 효과 지정 */
  }

  &.checked::before {
    opacity: 1; /* checked 상태일 때 투명도를 1(불투명)로 설정 */
  }
}

.custom-picker-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;

  @include set-vw(padding, 8px);
  @include set-vw(border-radius, 10px);
  @include set-vw(gap, 10px);
  width: 100%;
  height: 100%;

  cursor: pointer;

  position: relative;
  z-index: 1;

  .custom-picker-color {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
    transition: all 0.2s;
  }

  .custom-picker-vertical {
    @include set-vw(min-height, 32px);
    height: 100%;
    width: 0.3rem;
    background-color: rgba(10, 10, 10, 0.05);
    border-radius: 100%;
  }
}
