@import "../../styles/var.scss";

.main-section {
  width: 100%;
  @include set-pair-vw(padding, 60px, 0px);

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  @include set-vw(gap, 100px);
}
